In [2]:
import pandas as pd
import numpy as np

Load the movies dataset

In [3]:
movies = pd.read_csv('ml-latest/movies.csv')

In [4]:
ratings = pd.read_csv('ml-latest/ratings.csv')

In [5]:
tags = pd.read_csv('ml-latest/tags.csv')

In [6]:
links = pd.read_csv('ml-latest/links.csv')

In [7]:
genome_tags = pd.read_csv('ml-latest/genome-tags.csv')

In [8]:
genome_scores = pd.read_csv('ml-latest/genome-scores.csv')

Examine the datasets

In [9]:
movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [10]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

retrieve all the genres available in the movies table

In [11]:
genres = set(movies['genres'].str.cat(sep='|').split('|'))

In [15]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [16]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

Calculate average ratings per movie

In [18]:
movie_data = pd.merge(ratings, movies, on='movieId')
pd.DataFrame(movie_data.groupby('title')['rating'].mean().sort_values(ascending=False))

                                                    rating
title
Faintheart (2008)                                      5.0
White Tiger (1996)                                     5.0
Radio Unnameable (2012)                                5.0
Rafter Romance (1933)                                  5.0
Who Killed Chea Vichea? (2010)                         5.0
Gesuzza, La Sposa Garibaldina (1934)                   5.0
Ram Dass: Fierce Grace (2001)                          5.0
Ramen Shop (2018)                                      5.0
Ramona (1936)                                          5.0
Absolutely Fabulous (2001)                             5.0
Rangasthalam (2018)                                    5.0
Geordie (1955)                                         5.0
Rapunzel (2009)                                        5.0
Genius on Hold (2013)                                  5.0
Rattrapage (2017)                                      5.0
Windstorm 2 (2015)                                     5.0
Raza (1942)                                            5.0
White Roses (1943)                                     5.0
Real Boy (2016)                                        5.0
Reality Show (2015)                                    5.0
Future Hunters (1986)                                  5.0
Furious Love (2010)                                    5.0
Revenge (1978)                                         5.0
Free Jimmy (2006)                                      5.0
Fred Rogers: America's Favorite Neighbor (2004)        5.0
Acı Aşk (2009)                                         5.0
Rio Diablo (1993)                                      5.0
Four Mothers (1941)                                    5.0
About Sarah                                            5.0
Queen of Carthage (2013)                               5.0
...                                                    ...
Mars of Destruction (2005)                             0.5
Seeds of Death: Unveiling the Lies of GMOs (2012)      0.5
Kenny Chesney - Summer In 3D (2010)                    0.5
The Yearly Harvest (2016)                              0.5
The Year That Trembled (2002)                          0.5
Mars Needs Women (1967)                                0.5
Germany: A Summer's Fairytale (2006)                   0.5
Whn the day had no name                                0.5
The 12 Disasters of Christmas (2012)                   0.5
Who's Your Monkey? (2007)                              0.5
Day of the Reaper (1984)                               0.5
Best Player (2011)                                     0.5
Why Did I Get Married? The Play (2006)                 0.5
Ribbit (2014)                                          0.5
Paimen, piika ja emäntä (1938)                         0.5
Forbidden (1954)                                       0.5
Eating (1990)                                          0.5
41 (2013)                                              0.5
April Rain (2013)                                      0.5
Besotted (2001)                                        0.5
These Old Broads (2001)                                0.5
Abduction                                              0.5
Chillers (1987)                                        0.5
Whoregasm (1988)                                       0.5
40 Days and Nights (2012)                              0.5
Raggedy Ann and Raggedy Andy in the Pumpkin Who...     0.5
Get2Gether, A (2005)                                   0.5
María de mi corazón (1979)                             0.5
Keep Off My Grass! (1975)                              0.5
Back in the Day (2005)                                 0.5

[53817 rows x 1 columns]

In [17]:
ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('title')['rating'].count())

NameError: name 'ratings_mean_count' is not defined

In [ ]:
tags.dtypes

In [ ]:
tags.head()

In [ ]:
links.dtypes

In [ ]:
links.head()

In [ ]:
genome_tags.dtypes

In [ ]:
genome_tags.head()

In [ ]:
genome_scores.dtypes

In [ ]:
genome_scores.head()