In [3]:
import pandas as pd
import numpy as np

Load the movies dataset

In [ ]:
user_profile = {'age' : 15, 'favourite_genre' : 'action'}

In [7]:
movies = pd.read_csv('ml-latest/movies.csv')

In [9]:
ratings = pd.read_csv('ml-latest/ratings.csv')

In [10]:
tags = pd.read_csv('ml-latest/tags.csv')

In [11]:
links = pd.read_csv('ml-latest/links.csv')

In [12]:
genome_tags = pd.read_csv('ml-latest/genome-tags.csv')

In [13]:
genome_scores = pd.read_csv('ml-latest/genome-scores.csv')

Examine the datasets

In [22]:
movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [29]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [30]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [24]:
tags.dtypes

userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

In [31]:
tags.head()

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

In [25]:
links.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

In [32]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [27]:
genome_tags.dtypes

tagId     int64
tag      object
dtype: object

In [33]:
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [28]:
genome_scores.dtypes

movieId        int64
tagId          int64
relevance    float64
dtype: object

In [34]:
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02900
1        1      2    0.02375
2        1      3    0.05425
3        1      4    0.06875
4        1      5    0.16000